<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    

   <div>
    <% if ( lists.length > 0) { %>
        <% lists.forEach(list => { %>
        <a href="/blogs/<%= list._id %>">
            <h1><%= list.title %></h1>
            <p><%= list.desc %></p>
        </a>
         <% }) %>
     <% } else { %>
         
         <p>List Empty</p>
 
     <% } %>   
   </div> 
</body>
</html>